<%- include('./templates/head') %>
<body>
    <header>
        <h1>Mi Agenda de teléfonos</h1>
        <div id="bs1" class="mx-auto container-sm">
            <a href="/form" class="btn btn-primary" role="button" aria-disabled="true">Formulario</a>
        </div>
    </header>
    <main class="container-sm">

        <table id="tabla" class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Tipo</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% datos.forEach(contacto => { %>
                    <tr>
                        <td><%= contacto.nombre %></td>
                        <td><%= contacto.apellido %></td>
                        <td><%= contacto.telefono %></td>
                        <td><%= contacto.tipo %></td>
                        <td><a href="/form/<%= contacto.id %>" class="btn btn-outline-primary" role="button" aria-disabled="true">✏️</a>
                            <a href="/form/<%= contacto.id %>/<%= contacto.nombre %>/<%= contacto.apellido %>/<%= contacto.telefono %>/<%= contacto.tipo %>" class="btn btn-light" role="button" aria-disabled="true">✏️</a></td>
                        <td><a href="/borrar/<%= contacto.id %>" class="btn btn-light" role="button" aria-disabled="true">🗑️</a></td>
                    </tr>
                <% }) %>

            </tbody>
        </table>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="js/script.js"></script>
</body>
</html>